body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
  font-size: 18px; /* Add this line */
}

.App {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

h1 {
  color: #333;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-field, button {
  padding: 10px;
  margin: 5px 0;
  font-size: 18px; /* Adjust this to your liking */
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: 0 auto;
  padding: 10px;
  font-size: 18px; /* Adjust this to your liking */
  background-color: #0275d8;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logo {
  max-width: 100px;
  margin: auto;
  display: block;
}

button:hover {
  background-color: #025aa5;
}

button:active {
  background-color: #014c8c;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
}

p {
  margin: 10px 0;
  line-height: 1.6;
}

.choice-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: 10px auto; /* Adjusted this line to add vertical space */
  padding: 10px;
  font-size: 18px; /* Adjust this to your liking */
  background-color: #0275d8;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.choice-button:hover {
  background-color: #025aa5;
}

.choice-button:active {
  background-color: #014c8c;
}

.loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

